<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
    <label for="username">Введите имя пользователя:</label>
    <input type="text" th:field="*{username}" id="username">
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Text error valid </div>
    <br/>
    <label for="password">Введите пароль:</label>
    <input type="password" th:field="*{password}" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{fio}">Text error valid </div>
    <br/>
    <label for="fio">Введите ФИО</label>
    <input type="text" th:field ="*{fio}" id = "fio"/>
    <div style="color: red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}">Text error valid </div>
    <br/>
    <label for="yearbday">Введите год Рождения</label>
    <input type="text" th:field ="*{yearbday}" id = "yearbday"/>
    <div style="color: red" th:if="${#fields.hasErrors('yearbday')}" th:errors="*{yearbday}">Text error valid </div>
    <br/>
    <input type="submit" value="Зарегистрироваться">
</form>
</body>
</html>